body {
    background-color: #3d3e3f;
    color: white;
    font-family: 'quicksand';
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.cube {
    font-size: 20px;
    background-color: #989ba2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 450px;
    border-radius: 12px;
    transition: transform 0.2s ease;
    margin-top: 160px;
    z-index: 10;
    /* Garante que o .cube ficará acima */
    position: relative;
    /* Necessário para que o z-index funcione */
}

.cube:hover {
    transform: scale(1.1);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: #5d8adf;
    border-radius: 14px;
    width: 250px;
    height: 60px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

#naruto {
    position: absolute;
    z-index: 1;
    top: 10%; /* Posição relativa à altura da viewport */
    left: 60%; /* Posição relativa à largura da viewport */
    transition: transform 0.3s ease;
}

#naruto:hover {
    transform: scale(1.1);
}

#frieren {
    position: absolute;
    z-index: 1;
    top: 10%; /* Mesmo valor para alinhá-los */
    left: 10%; /* Ajuste conforme necessário */
    transition: transform 0.3s ease;
}

#frieren:hover {
    transform: scale(1.1);
}

@media(min-width: 360px) and (max-width: 400px) {

    .cube {
        font-size: 18px;
        background-color: #989ba2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 350px;
        border-radius: 12px;
        transition: transform 0.2s ease;
        margin-top: 160px;
        z-index: 10;
        /* Garante que o .cube ficará acima */
        position: relative;
        /* Necessário para que o z-index funcione */
    }

    #naruto {
        position: absolute;
        z-index: 1;
        top: 7%; /* Posição relativa à altura da viewport */
        left: 60%; /* Posição relativa à largura da viewport */
        transition: transform 0.3s ease;
    }
    
    #naruto:hover {
        transform: scale(1.1);
    }
    
    #frieren {
        position: absolute;
        z-index: 1;
        top: 6%; /* Mesmo valor para alinhá-los */
        left: 5%; /* Ajuste conforme necessário */
        transition: transform 0.3s ease;
    }
    
    #frieren:hover {
        transform: scale(1.1);
    }
}

@media(min-width: 412px) and (max-width: 915px) {

    .cube {
        font-size: 18px;
        background-color: #989ba2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 370px;
        border-radius: 12px;
        transition: transform 0.2s ease;
        margin-top: 160px;
        z-index: 10;
        position: relative;
        
    }

    #naruto {
        position: absolute;
        z-index: 1;
        top: 4%; /* Posição relativa à altura da viewport */
        left: 60%; /* Posição relativa à largura da viewport */
        transition: transform 0.3s ease;
    }
    
    #naruto:hover {
        transform: scale(1.1);
    }
    
    #frieren {
        position: absolute;
        z-index: 1;
        top: 7%; /* Mesmo valor para alinhá-los */
        left: 10%; /* Ajuste conforme necessário */
        transition: transform 0.3s ease;
    }
    
    #frieren:hover {
        transform: scale(1.1);
    }
}


@media(min-width: 600px) and (max-width: 700px) {
    #naruto {
        position: absolute;
        z-index: 1;
        top: 10%; /* Posição relativa à altura da viewport */
        left: 60%; /* Posição relativa à largura da viewport */
        transition: transform 0.3s ease;
    }
    
    #naruto:hover {
        transform: scale(1.1);
    }
    
    #frieren {
        position: absolute;
        z-index: 1;
        top: 10%; /* Mesmo valor para alinhá-los */
        left: 20%; /* Ajuste conforme necessário */
        transition: transform 0.3s ease;
    }
    
    #frieren:hover {
        transform: scale(1.1);
    }
}


@media(min-width: 700px) and (max-width: 800px) {
    #naruto {
        position: absolute;
        z-index: 1;
        top: 10%; /* Posição relativa à altura da viewport */
        left: 60%; /* Posição relativa à largura da viewport */
        transition: transform 0.3s ease;
    }
    
    #naruto:hover {
        transform: scale(1.1);
    }
    
    #frieren {
        position: absolute;
        z-index: 1;
        top: 10%; /* Mesmo valor para alinhá-los */
        left: 20%; /* Ajuste conforme necessário */
        transition: transform 0.3s ease;
    }
    
    #frieren:hover {
        transform: scale(1.1);
    }
}

@media(min-width: 800px) and (max-width: 1000px) {
    #naruto {
        position: absolute;
        z-index: 1;
        top: 5%; /* Posição relativa à altura da viewport */
        left: 60%; /* Posição relativa à largura da viewport */
        transition: transform 0.3s ease;
    }
    
    #naruto:hover {
        transform: scale(1.1);
    }
    
    #frieren {
        position: absolute;
        z-index: 1;
        top: 5%; /* Mesmo valor para alinhá-los */
        left: 25%; /* Ajuste conforme necessário */
        transition: transform 0.3s ease;
    }
    
    #frieren:hover {
        transform: scale(1.1);
    }
}

@media(min-width: 1000px) and (max-width: 1400px) {
    #naruto {
        position: absolute;
        z-index: 1;
        top: 7%; /* Posição relativa à altura da viewport */
        left: 55%; /* Posição relativa à largura da viewport */
        transition: transform 0.3s ease;
    }
    
    #naruto:hover {
        transform: scale(1.1);
    }
    
    #frieren {
        position: absolute;
        z-index: 1;
        top: 7%; /* Mesmo valor para alinhá-los */
        left: 32%; /* Ajuste conforme necessário */
        transition: transform 0.3s ease;
    }
    
    #frieren:hover {
        transform: scale(1.1);
    }
}

@media(min-width: 768px) and (max-width: 1024px) {

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        margin-top: 20px;
        font-size: 20px;
        color: white;
        background-color: #5d8adf;
        border-radius: 14px;
        width: 450px;
        height: 100px;
        transition: transform 0.3s ease;
    }
    
    button:hover {
        transform: scale(1.1);
    }

    .cube {
        font-size: 28px;
        background-color: #989ba2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 570px;
        border-radius: 12px;
        transition: transform 0.2s ease;
        margin-top: 160px;
        z-index: 10;
        /* Garante que o .cube ficará acima */
        position: relative;
        /* Necessário para que o z-index funcione */
    }

    #naruto {
        width: 250px;
        position: absolute;
        z-index: 1;
        top: 1%; /* Posição relativa à altura da viewport */
        left: 55%; /* Posição relativa à largura da viewport */
        transition: transform 0.3s ease;
    }
    
    #naruto:hover {
        transform: scale(1.1);
    }
    
    #frieren {
        width: 250px;
        position: absolute;
        z-index: 1;
        top: 1%; /* Mesmo valor para alinhá-los */
        left: 20%; /* Ajuste conforme necessário */
        transition: transform 0.3s ease;
    }
    
    #frieren:hover {
        transform: scale(1.1);
    }
}


@media(min-width: 800px) and (max-width: 1280px) {

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        margin-top: 20px;
        font-size: 50px;
        color: white;
        background-color: #5d8adf;
        border-radius: 14px;
        width: 450px;
        height: 100px;
        transition: transform 0.3s ease;
    }
    
    button:hover {
        transform: scale(1.1);
    }

    .cube {
        font-size: 30px;
        background-color: #989ba2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 670px;
        border-radius: 12px;
        transition: transform 0.2s ease;
        margin-top: 160px;
        z-index: 10;
        /* Garante que o .cube ficará acima */
        position: relative;
        /* Necessário para que o z-index funcione */
    }

    #naruto {
        width: 250px;
        position: absolute;
        z-index: 1;
        top: 1%; /* Posição relativa à altura da viewport */
        left: 55%; /* Posição relativa à largura da viewport */
        transition: transform 0.3s ease;
    }
    
    #naruto:hover {
        transform: scale(1.1);
    }
    
    #frieren {
        width: 250px;
        position: absolute;
        z-index: 1;
        top: 1%; /* Mesmo valor para alinhá-los */
        left: 25%; /* Ajuste conforme necessário */
        transition: transform 0.3s ease;
    }
    
    #frieren:hover {
        transform: scale(1.1);
    }
}
